<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name=".NewGptApplication"
        android:allowBackup="false"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.NewGPT"
        android:icon="@drawable/ic_newgpt">
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
            <service android:name=".NexusAppFunctionService" android:permission="android.permission.BIND_APP_FUNCTION_SERVICE" android:exported="true">
            <property android:name="android.app.appfunctions.schema" android:value="app_functions_schema.xsd" />
            <property android:name="android.app.appfunctions.v2" android:value="nexus_app_function_service.xml" />
            <intent-filter><action android:name="android.app.appfunctions.AppFunctionService" /></intent-filter>
        </service>
    </application>
</manifest>